@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Viaoda+Libre&display=swap");

$background: hsl(270, 20%, 8%);
$background-gradient: hsl(280, 25%, 12%);
$border: hsl(40, 65%, 80%);
$text: hsl(43, 16%, 92%);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  height: 100vh;

  color: $text;
  background-color: $background;
  background: radial-gradient(
    circle at 100% 0%,
    $background-gradient,
    $background
	);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  gap: 20px;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grafico-container {
  width: 100vh;
  flex-grow: 1;
}

#card {
  display: flex;
  flex-direction: column;
  position: relative;
   width: 30%;
  padding: 15px;

  border: 1px solid $border;

  .corner {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    pointer-events: none;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background: transparent;
    }

    &::after {
      width: 2rem;
      height: calc(1rem - 1px);
    }

    &::before {
      width: calc(1rem - 1px);
      height: 2rem;
    }

    &.left {
      left: -0.5rem;

      &::after {
        left: calc(-2px + 1rem);
        border-left: 1px solid $border;
      }

      &::before {
        left: -1px;
        border-left: 1px solid $border;
      }
    }

    &.right {
      right: -0.5rem;

      &::after {
        right: calc(-2px + 1rem);
        border-right: 1px solid $border;
      }

      &::before {
        right: -1px;
        border-right: 1px solid $border;
      }
    }

    &.top {
      top: -0.5rem;

      &::after {
        top: -1px;
        border-top: 1px solid $border;
      }

      &::before {
        top: calc(-2px + 1rem);
        border-top: 1px solid $border;
      }
    }

    &.bottom {
      bottom: -0.5rem;

      &::after {
        bottom: -1px;
        border-bottom: 1px solid $border;
      }

      &::before {
        bottom: calc(-2px + 1rem);
        border-bottom: 1px solid $border;
      }
    }
  } // .corner

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    
    height: 2rem;
    padding: 0 1rem;
    margin: 0 2rem;
    // cursor: pointer;

    all: unset;
    text-align: center;
    
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    // transition: background 200ms ease-in-out;

    
  } // button


  #slider-container {
    width: auto;
    padding: 5px;
    border-radius: 2px;
  }

  .slider-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 5px;
    text-align: left;
  }

  /* Estilos base do slider D3 */
  .track,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke-width: 1px;
  }

  .track-active {
    stroke: $border;
    stroke-width: 1px;
  }

  .handle {
    stroke: $border;
    stroke-width: 1px;
    cursor: grab;
    transition: r 0.1s;
  }

  .handle:hover {
    r: 6;
  }

  .card-divider {
    height: 1px;
    margin: 10px ; 
    opacity: 0.7;
    border: none;
    background-color: $border; 
  }
} // #card

/* --- Responsividade --- */
@media (max-width: 800px) {
  .content-wrapper {
    flex-direction: column;
  }

  #card {
    width: 100%;
  }

  .grafico-container {
    min-width: 100%;
  }
}
